<footer>
  <div class="container-fluid">
    <div class="row footer">
      <div class="col-md-12 text-center">
        <h1>Muhannad<br /></h1>
        <ul class="social-links">
          <li>
            <a href="https://wa.me/+963935807475"
              ><img src="/images/whatsapp.png"
            /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/ookoop.iko"
              ><img src="images/facebook.png"
            /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/muhannad-afifa-809654152/"
              ><img src="images/linkedin.png"
            /></a>
          </li>
          <li>
            <a href="https://t.me/Muhannad22_1"
              ><img src="images/telegram.png"
            /></a>
          </li>
          <li>
            <a href="https://github.com/muhannad007"
              ><img src="images/github.png"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
