<nav>
  <div id="menu-toggle">
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="cross">
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
  <ul class="main-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">My blog</a></li>
    <li><a href="/portfolio">Porfolio</a></li>
  </ul>
</nav>
