<nav>
  <div id="menu-toggle">
    <div class="hamburger pink">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="cross">
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
  <ul class="main-nav">
    <li><a href="/" class="pink">Home</a></li>
    <li><a href="/blog" class="pink">My blog</a></li>
    <li><a href="/portfolio" class="pink">Portfolio</a></li>
  </ul>
</nav>
