<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <section class="case-study" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- <h4 class="sub-heading">Exclusively</h4> -->
            <h1 class="heading purple">
              <span class="purple">Tech Stack</span>
            </h1>
            <h2>Stack I use for Embedded Systems and IOT</h2>
            <!-- Swiper -->
            <div class="swiper-container client-swiper web-section">
              <div class="swiper-slide client-box service">
                <img src="images/cpp.png" class="client-logo" />
                <h3 class="text-left title">C++</h3>
                <p class="text-left tag">Embedded Software Development</p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/python.png" class="client-logo" />
                <h3 class="text-left title">Python</h3>
                <p class="text-left tag">
                  Embedded Software Development, Back-end Development
                </p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/php.png" class="client-logo" />
                <h3 class="text-left title">PHP</h3>
                <p class="text-left tag">Back-end Development</p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/mysql.png" class="client-logo" />
                <h3 class="text-left title">MySQL</h3>
                <p class="text-left tag">Back-end Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
