<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <section class="case-study" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- <h4 class="sub-heading">Exclusively</h4> -->
            <h1 class="heading purple">
              <span class="purple">Tech Stack</span>
            </h1>
            <h2>Stack I use for mobile development</h2>
            <!-- Swiper -->
            <div class="swiper-container client-swiper web-section">
              <div class="swiper-slide client-box service">
                <img src="images/flutter.png" class="client-logo" />
                <h3 class="text-left title">Flutter</h3>
                <p class="text-left tag">Front-end Development</p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/node.png" class="client-logo" />
                <h3 class="text-left title">Node.js</h3>
                <p class="text-left tag">Back-end Development</p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/express.png" class="client-logo" />
                <h3 class="text-left title">Express.js</h3>
                <p class="text-left tag">Back-end Development</p>
              </div>
              <div class="swiper-slide client-box service">
                <img src="images/mongo.png" class="client-logo" />
                <h3 class="text-left title">MongoDB</h3>
                <p class="text-left tag">Back-end Development</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
