<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <section class="case-study" id="projects">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="heading purple">
              <span class="purple">Projects</span>
            </h1>
            <div class="swiper-container client-swiper web-section">
              <a href="https://muhannad007.github.io/ethering/">
                <div class="swiper-slide client-box service project">
                  <img src="images/web3.png" class="client-logo" />
                  <h3 class="text-left title">Ethering</h3>
                  <p class="text-left tag">
                    Ethering is a web tool that lets you check the latest block
                    number of Ethereum mainnet and the balance of any contract
                    address
                  </p>
                </div>
              </a>
              <a href="http://elect.wuaze.com">
                <div class="swiper-slide client-box service project">
                  <img src="images/ecommerce.png" class="client-logo" />
                  <h3 class="text-left title">ELECT</h3>
                  <p class="text-left tag">
                    An e-commerce website that sells electrical components for
                    embedded systems
                  </p>
                </div>
              </a>
              <a href="https://github.com/muhannad007/magic-movers">
                <div class="swiper-slide client-box service project">
                  <img src="images/rest.png" class="client-logo" />
                  <h3 class="text-left title">Magic Movers</h3>
                  <p class="text-left tag">
                    A rest API for managing magic movers built using node.js
                  </p>
                </div>
              </a>
              <a href="/locy">
                <div class="swiper-slide client-box service project">
                  <img src="images/mapbox.png" class="client-logo" />
                  <h3 class="text-left title">Locy</h3>
                  <p class="text-left tag">
                    A free locator tool that helps users to find and locate each
                    other
                  </p>
                </div>
              </a>
              <a href="https://github.com/muhannad007/smart_irrigation_app">
                <div class="swiper-slide client-box service project">
                  <img src="images/plant.png" class="client-logo" />
                  <h3 class="text-left title">Automatic Irrigation system</h3>
                  <p class="text-left tag">
                    IOT irrigation and nutrition management system connected to
                    a mobile application to control it
                  </p>
                </div>
              </a>
              <a href="https://whiteboard-uy05.onrender.com ">
                <div class="swiper-slide client-box service project">
                  <img src="images/whiteboard.png" class="client-logo" />
                  <h3 class="text-left title">WhiteBoard</h3>
                  <p class="text-left tag">
                    A white board drawing web app helps you screen your
                    imagination
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
